{% extends 'html/baseHtml.html' %}
{% block placeholder %}

    <head>
        <title>Xem điểm thi UET tốc độ ánh sáng</title>

        <script>
            function validateForm() {
                var x = document.forms["form"]["username"].value;
                if (x === "") {
                    alert("Username must be filled out");
                    return false;
                }

                var y = document.forms["form"]["password"].value;
                if (y === "") {
                    alert("Password must be filled out");
                    return false;
                }

            }
        </script>
    </head>

    <body>

    <div class="container-fluid text-center content">
        <div class="row">
            <div class="col-lg-4 sidenav">

            </div>
            <div class="col-lg-4 ">
                <div class="row title">
                    <h2 class="text-center">ĐĂNG NHẬP</h2>
                </div>
                <div class="row ">
                    <!-- FORM DANG NHAP TAI KHOAN -->
                    <form name="form" action="user.html" method="post"
                          id="formA">
                        {% csrf_token %}
                        {#        {{ form }}#}

                        <div class="form-group">
                            <div class="register text-center msv">
                                {% csrf_token %}

                                <div class="inner-addon left-addon">
                                    <i class="glyphicon glyphicon-user"></i>
                                    <input type="text" id="username" name="username" class="form-control" placeholder="Mã sinh viên">
                                </div>
                            </div>

                            <div class="register text-center password">
                                {% csrf_token %}

                                <div class="inner-addon left-addon">
                                    <i class="glyphicon glyphicon-key"></i>
                                    <input type="password" id="password" name="password" class="form-control" placeholder="Mật khẩu">
                                </div>
                            </div>


                            <button type="submit" class="btn btn-primary btn-block" style="margin-top: 20px;
                    height: 50px" value="Submit">Login
                            </button>

                        </div>
                    </form>

                </div>
            </div>
            <div class="col-lg-4 sidenav">

            </div>
        </div>
    </div>

    </body>

{% endblock %}