{% extends 'html/baseHtml.html' %}
{% block placeholder %}

    <head>

        <script>
            function validateForm() {
                var x = document.forms["form"]["username"].value;
                if (x === "") {
                    alert("Username must be filled out");
                    return false;
                }

                var y = document.forms["form"]["password"].value;
                if (y === "") {
                    alert("Password must be filled out");
                    return false;
                }
                var z = document.forms["form"]["passwordCheck"].value;
                if (z === "") {
                    alert("Password Check must be filled out");
                    return false;
                }

                if (y !== z) {
                    alert("Password Check invalid")
                    return false;

                }

                var userinput = document.forms["form"]["email"].value;
                var pattern = /^\b[A-Z0-9._%-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i

                if (!pattern.test(userinput)) {
                    alert('Not a valid e-mail address');
                    return false;

                } else if (userinput === "") {
                    alert("Email must be filled out");
                    return false;
                }
            }
        </script>
    </head>

    </head>

    <body>

    <div class="container-fluid text-center content">
        <div class="row">
            <div class="col-lg-4 sidenav">

            </div>
            <div class="col-lg-4 ">
                <div class="row title">
                    <h2 class="text-center">ĐĂNG KÝ</h2>
                </div>
                <div class="row ">
                    <!-- FORM DANG KI TAI KHOAN -->
                    <form name="form" action="dangki.html" onsubmit="return validateForm()" method="post"
                          id="formA">
                        {% csrf_token %}
                        <div class="register text-center msv">
                            {% csrf_token %}
                            <div class="inner-addon left-addon">
                                <i class="glyphicon glyphicon-user"></i>
                                <input type="text" id="username" name="username" class="form-control" placeholder="Mã sinh viên">
                            </div>
                        </div>
                        <div class="register text-center email">
                            {% csrf_token %}
                            <div class="inner-addon left-addon">
                                <i class="glyphicon glyphicon-envelope"></i>
                                <input type="text" id="email" name="email" class="form-control" placeholder="Email">
                            </div>
                        </div>
                        <div class="register text-center password">
                            {% csrf_token %}
                            <div class="inner-addon left-addon">
                                <i class="glyphicon glyphicon-key"></i>
                                <input type="password" id="password" name="password" class="form-control" placeholder="Mật khẩu">
                            </div>
                        </div>
                        <div class="register text-center retypePwd">
                            {% csrf_token %}
                            <div class="inner-addon left-addon">
                                <i class="glyphicon glyphicon-key"></i>
                                <input type="password" id="passwordCheck" name="passwordCheck" class="form-control" placeholder="Nhập lại mật khẩu">
                            </div>
                        </div>
                        <div class="register text-center agree">
                            {% csrf_token %}
                            <div class="checkbox">
                                <input type="checkbox" name="remember">
                                <label for="">Đồng ý với <a href="#" title="">điều khoản</a> của chúng tôi</label>
                            </div>
                        </div>
                        <div class="register text-center btn-block">
                            <a href="dangki.html" title="">
                                <button type="submit" class="btn btn-large btn-block btn-primary">Hoàn tất</button>
                            </a>

                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 sidenav">

            </div>
        </div>
    </div>

    </body>

{% endblock %}