{% extends 'html/baseHtml.html' %}
{% block placeholder %}

    <head>
        <title>Đăng kí thành công</title>

    </head>
    <body>

    <div class="container-fluid text-center content" style="padding-top: 80px">
        <div class="row">
            <div class="col-lg-4 sidenav">

            </div>
            <div class="col-lg-4 ">
                <div class="row title">
                    <h2 class="text-center">ĐĂNG KÝ THÀNH CÔNG</h2>
                    <p>Chúc mừng bạn đã đăng kí thành công, bạn có thể đăng nhập vào hệ thống ^^</p>
                </div>
                <div class="row ">
                    <!-- FORM DANG NHAP -->
                    <form action="" method="get" accept-charset="utf-8">
                        <div class="register text-center btn-block">
                            <a href="dangnhap.html" title="">
                                <button type="button" class="btn btn-large btn-block btn-primary">ĐĂNG NHẬP</button>
                            </a>

                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 sidenav">

            </div>
        </div>
    </div>
    </body>
{% endblock %}