{% extends 'html/baseHtml.html' %}

{% block placeholder %}

    <div class="container">

        <div class="example" style="margin: 20px;">
            <div class="container">
                <div class="row">

                    <h4>{{ Post.file.url }}</h4>
                    <div class="table-responsive" style="margin-top: 50px">
                        <table class="table table-bordered">
                            <thead>
                            <tr style="text-align: center">
                                <th style="text-align: center">MSV</th>
                                <th style="text-align: center">Họ Tên</th>
                                <th style="text-align: center">Lớp</th>
                                <th style="text-align: center">Môn Học</th>
                                <th style="text-align: center">Điểm Giữa Kì</th>
                                <th style="text-align: center">Điểm Cuối Kì</th>
                                <th style="text-align: center">Điểm Tổng Kết</th>

                            </tr>
                            </thead>
                            <tbody>


                            {% for search in List %}
                                <tr class="success">
                                    <td style="text-align: center">{{ search.msv }}</td>
                                    <td style="text-align: center">{{ search.hoten }}</td>
                                    <td style="text-align: center">{{ search.lop }}</td>
                                    <td>{{ search.mon }}</td>
                                    <td style="text-align: center">{{ search.diemTP }}</td>
                                    <td style="text-align: center">{{ search.diemCK }}</td>
                                    <td style="text-align: center">{{ search.diemTK }}</td>
                                </tr>


                            {% endfor %}


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(window).load(function () {
            $('form').get(0).reset(); //clear form data on page load
        });
    </script>
{% endblock %}
