<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% block content %}
    <h1>sfdsfgsdg</h1>
    {% for post in Post %}
        <h3>{{ post.file.url }}</h3>
    {% endfor %}
{% endblock %}
</body>
</html>
