{% extends 'html/baseHtml.html' %}
<head>
    <title>Chào mừng đến với website xem điểm thi UET</title>

</head>

{% block placeholder %}

    <body class="homepage">

    <div class="container-fluid text-center content">
        <div class="row">
            <div class="col-lg-3 sidenav">

            </div>
            <div class="col-lg-6 homepage">
                <div class="row title">
                    <h2 class="text-center">WELCOME</h2>
                    <p>Tìm kiếm nâng cao</p>
                </div>
                <div class="row ">
                    <!-- FORM DANG NHAP -->
                    <form name="form" action="timkiem.html" method="post" accept-charset="utf-8">
                        {% csrf_token %}

                        <div class="form-group has-feedback ">
                            <!-- <label for="search" class="sr-only">Search</label>
                            <input type="text" class="form-control" name="search" id="search" placeholder="search">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span> -->
                            <div class="col-xs-10">
                                <input type="text" name="data" class="form-control"
                                       placeholder="Nhập mã lớp hoặc tên môn học cần tìm !">

                            </div>
                            <!-- <div class="col-xs-12 col-sm-4">
                                <input type="text" class="form-control" placeholder="Tên môn">
                            </div>
                            -->
                            <div class="col-xs-2">
                                <button type="submit" class="btn btn-primary btn-block" value="Submit">Tìm kiếm
                                </button>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
            <div class="col-lg-3 sidenav">

            </div>
        </div>

        <div class="col-lg-4 sidenav">
            <div class="example" style="margin-top: 20px; margin-left: 50px;">
                <div class="container">
                    <div class="row">

                        <h4 style="margin-top: -6px;">{{ Post.file.url }}</h4>
                        <div class="table-responsive" style="margin-top: 20px; width: 800px; margin-left: 200px">
                            <table class="table table-bordered">

                                <tbody>


                                {% for search in dictList %}
                                    {% if dictList.0 == search %}
                                        <tr class="active">

                                            <form name="form" action="details.html" method="post">
                                                {% csrf_token %}

                                                <button type="submit" class="btn btn-primary btn-block"
                                                        value="Submit">{{ search.data }}</button>
                                            </form>


                                        </tr>

                                    {% endif %}

                                    {% if dictList.1 == search %}
                                        <tr class="success">

                                            <form name="form" action="details.html" method="post">
                                                {% csrf_token %}

                                                <button type="submit" class="btn btn-success btn-block"
                                                        value="Submit">{{ search.data }}</button>
                                            </form>

                                        </tr>

                                    {% endif %}

                                    {% if dictList.2 == search %}

                                        <tr class="danger">

                                            <form name="form" action="details.html" method="post">
                                                {% csrf_token %}

                                                <button type="submit" class="btn btn-danger btn-block"
                                                        value="Submit">{{ search.data }}</button>
                                            </form>

                                        </tr>
                                    {% endif %}

                                    {% if dictList.3 == search %}

                                        <tr class="warning">

                                            <form name="form" action="details.html" method="post">
                                                {% csrf_token %}

                                                <button type="submit" class="btn btn-info btn-block"
                                                        value="Submit">{{ search.data }}</button>
                                            </form>

                                        </tr>

                                    {% endif %}
                                    {% if dictList.4 == search %}
                                        <tr class="active">

                                            <form name="form" action="details.html" method="post">
                                                {% csrf_token %}

                                                <button type="submit" class="btn btn-light btn-block"
                                                        value="Submit">{{ search.data }}</button>
                                            </form>

                                        </tr>

                                    {% endif %}

                                    {% if dictList.5 == search %}
                                        <tr class="success">

                                            <form name="form" action="details.html" method="post">
                                                {% csrf_token %}

                                                <button type="submit" class="btn btn-secondary btn-block"
                                                        value="Submit">{{ search.data }}</button>
                                            </form>

                                        </tr>

                                    {% endif %}

                                    {% if dictList.6 == search %}

                                        <tr class="danger">

                                            <form name="form" action="details.html" method="post">
                                                {% csrf_token %}

                                                <button type="submit" class="btn btn-primary btn-block"
                                                        value="Submit">{{ search.data }}</button>
                                            </form>

                                        </tr>
                                    {% endif %}

                                    {% if dictList.7 == search %}

                                        <tr class="warning">

                                            <form name="form" action="details.html" method="post">
                                                {% csrf_token %}

                                                <button type="submit" class="btn btn-success btn-block"
                                                        value="Submit">{{ search.data }}</button>
                                            </form>

                                        </tr>

                                    {% endif %}
                                {% endfor %}


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(window).load(function () {
                $('form').get(0).reset(); //clear form data on page load
            });
        </script>
    </div>

    </div>


    </body>

{% endblock %}