<!DOCTYPE html>
<html>
<head>
	 {% load staticfiles %}
    <title>Xem điểm thi UET tốc độ ánh sáng</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %} " type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/myStyle.css' %}" type="text/css">
    <link rel="stylesheet" href=" {% static 'css/bootstrap.css' %}" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body class="homepage">
	<nav class="navbar navbar-default">
	  <div class="col-lg-8 text-left">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">XemdimUET</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li class="active"><a href="trangchu.html">Home</a></li>
	      <li><a href="#">About</a></li>
	      <li><a href="#">Project</a></li>
	      <li><a href="#">Contact</a></li>
	    </ul>
	  </div>
	  <div class="col-lg-4 text-right nav-right">
	  	<div class="col-lg-12 text-center login">
				<span class="glyphicon glyphicon-log-in"></span> <a href="dangki.html">Đăng kí</a> /
            <a href="dangnhap.html" title="">Đăng nhập</a>
		</div>
	  </div>
	</nav>
	<div class="container-fluid text-center content">
		<div class="row">
			<div class="col-lg-4 sidenav">
				
			</div>
			<div class="col-lg-4 homepage">
				<div class="row title">
					<h2 class="text-center">WELCOME</h2>
					<p>Xem điểm nhanh chóng không cần vào trang chủ của trường. Nhận mail ngay sau khi có điểm ^^</p>
					<p>Hãy nhanh tay đăng kí ngay chỉ với những thao tác đơn giản </p>
				</div>
				<div class="row ">
					<!-- FORM DANG NHAP -->
					<form action="" method="get" accept-charset="utf-8">
						<div class="register text-center btn-block" >
							<br><br>
							<p>Đăng kí tài khoản nếu bạn chưa có</p>
							<a href="dangki.html" title="">
								<button type="button" class="btn btn-large btn-block btn-primary">ĐĂNG KÍ</button>
							</a>	
						</div>
					</form>
				</div>
			</div>
			<div class="col-lg-4 sidenav">
				
			</div>
		</div>
	</div>
	<footer class="container-fluid text-center">
		<div class="row contact">
			<div class="col-lg-3">
				<div class="inforweb">
					<ul>
						<li><span class="ic"></span><a href="#" title="">Giới thiệu</a></li>
						<li><span class="ic"></span><a href="#" title="">Quy định bảo mật</a></li>
						<li><span class="ic"></span><a href="#" title="">Điều khoản sử dụng</a></li>
						<li><span class="ic"></span><a href="#" title="">Cam kết</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-6 text-center">
				<div class="col-lg-12 text-center address">
					<p>Địa chỉ: 144 Xuân Thủy, Cầu Giấy, Hà Nội</p>
					<p>Kết nối với chúng tôi: </p>
				</div>
			</div>
			<div class="col-lg-3 text-center dd">
				<div class="col-lg-12 text-center mobileapp">
					<p>Mobile App on Google Play</p>
					<a href="#" title="">
						<div class="imgGPlay">
						
						</div>
					</a>	
				</div>
			</div>
		</div>
		<div class="row coppyright">
			<div class="col-lg-12 text-center">
				<p>Coppyright © PTTP</p>
			</div>	
		</div>
	</footer>
</body>
</html>