{% extends 'html/baseHtml.html' %}
{% block placeholder %}

    <body class="homepage">

    <div class="container-fluid text-center content">
        <div class="row">
            <div class="col-lg-4 sidenav">

            </div>
            <div class="col-lg-4 homepage">
                <div class="row title">
                    <h2 class="text-center" style="margin-top: -8px">WELCOME</h2>
                </div>
                <div class="row ">
                    <!-- FORM CHON HOC KI -->
                    <form action="" method="get" accept-charset="utf-8">
                        <!-- select hoc ki -->
                        <div class="form-group text-left">
                            <label for="sel1">Lựa chọn học kì</label>
                            <select class="form-control" id="sel1">
                                <option>HK I năm 2016</option>
                                <option selected="">HK I năm 2016</option>
                            </select>
                        </div>
                        <!-- show diem ra o cho nay xong duoi cung moi hien thi thanh tim kiem nang cao -->
                        <a href="timkiem.html" title="">Tìm kiếm nâng cao</a>
                        <!-- tim kiem nang cao -->
                        <div class="container">

                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 sidenav">
                <div class="example" style="margin-top: 150px; margin-left: -900px;">
                    <div class="container">
                        <div class="row">

                            <h4 style="margin-top: -6px;">{{ Post.file.url }}</h4>
                            <div class="table-responsive" style="margin-top: 20px">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr style="text-align: center">

                                        <th style="text-align: center">Môn Học</th>
                                        <th style="text-align: center">Điểm Giữa Kì</th>
                                        <th style="text-align: center">Điểm Cuối Kì</th>
                                        <th style="text-align: center">Điểm Tổng Kết</th>

                                    </tr>
                                    </thead>
                                    <tbody>


                                    {% for search in dict %}
                                        {% if dict.0 == search %}
                                            <tr class="active">

                                                <td>{{ search.mon }}</td>
                                                <td style="text-align: center">{{ search.diemTP }}</td>
                                                <td style="text-align: center">{{ search.diemCK }}</td>
                                                <td style="text-align: center">{{ search.diemTK }}</td>
                                            </tr>

                                        {% endif %}

                                        {% if dict.1 == search %}
                                            <tr class="success">

                                                <td>{{ search.mon }}</td>
                                                <td style="text-align: center">{{ search.diemTP }}</td>
                                                <td style="text-align: center">{{ search.diemCK }}</td>
                                                <td style="text-align: center">{{ search.diemTK }}</td>
                                            </tr>

                                        {% endif %}

                                        {% if dict.2 == search %}

                                            <tr class="danger">

                                                <td>{{ search.mon }}</td>
                                                <td style="text-align: center">{{ search.diemTP }}</td>
                                                <td style="text-align: center">{{ search.diemCK }}</td>
                                                <td style="text-align: center">{{ search.diemTK }}</td>
                                            </tr>
                                        {% endif %}

                                        {% if dict.3 == search %}

                                            <tr class="warning">

                                                <td>{{ search.mon }}</td>
                                                <td style="text-align: center">{{ search.diemTP }}</td>
                                                <td style="text-align: center">{{ search.diemCK }}</td>
                                                <td style="text-align: center">{{ search.diemTK }}</td>
                                            </tr>

                                        {% endif %}
                                        {% if dict.4 == search %}
                                            <tr class="active">

                                                <td>{{ search.mon }}</td>
                                                <td style="text-align: center">{{ search.diemTP }}</td>
                                                <td style="text-align: center">{{ search.diemCK }}</td>
                                                <td style="text-align: center">{{ search.diemTK }}</td>
                                            </tr>

                                        {% endif %}

                                        {% if dict.5 == search %}
                                            <tr class="success">

                                                <td>{{ search.mon }}</td>
                                                <td style="text-align: center">{{ search.diemTP }}</td>
                                                <td style="text-align: center">{{ search.diemCK }}</td>
                                                <td style="text-align: center">{{ search.diemTK }}</td>
                                            </tr>

                                        {% endif %}

                                        {% if dict.6 == search %}

                                            <tr class="danger">

                                                <td>{{ search.mon }}</td>
                                                <td style="text-align: center">{{ search.diemTP }}</td>
                                                <td style="text-align: center">{{ search.diemCK }}</td>
                                                <td style="text-align: center">{{ search.diemTK }}</td>
                                            </tr>
                                        {% endif %}

                                        {% if dict.7 == search %}

                                            <tr class="warning">

                                                <td>{{ search.mon }}</td>
                                                <td style="text-align: center">{{ search.diemTP }}</td>
                                                <td style="text-align: center">{{ search.diemCK }}</td>
                                                <td style="text-align: center">{{ search.diemTK }}</td>
                                            </tr>

                                        {% endif %}
                                    {% endfor %}


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                $(window).load(function () {
                    $('form').get(0).reset(); //clear form data on page load
                });
            </script>
        </div>

    </div>
    </div>

    </body>

{% endblock %}