.content{
	min-height: 400px;
}
.navbar{
	position: fixed;
	margin-bottom: 0px;
}
.nav-right{

    padding-left: 180px;
    padding-top: 15px;
    padding-right: 0px;

}
/*background homepage*/
.homepage{
	
	background-size: cover;
}
/*form dang ki*/
.register{
	margin-bottom: 22px;
}
.agree{

    padding-right: 150px;

}
.inner-addon{
	position: relative;
}
.inner-addon .glyphicon{
	position: absolute;
	padding: 10px;
	pointer-events: none;
}
.left-addon .glyphicon{
	left: 0px;
}
.left-addon input{
	padding-left: 35px;
}
.glyphicon-key{
	background-image: url("../imgs/key-2x.png");
	background-repeat: no-repeat;
	margin: 10px 0px 0px 10px;
}
/*FOOTER*/
footer{
	background-color: #4d94ff;
	/*width: 100%;*/
	height: 224px;
}
footer .contact{
	/*width: 100%;*/
	height: 186px;
}
footer .coppyright{
	height: 38px;
	background-color: #0066ff;
}
.inforweb{
	/*width: 300px;*/
    /*margin-left: 90px;*/
    margin-top: 35px;
    border-right: 1px solid #69a6d5;
}
.inforweb ul li{
	list-style: none;
	text-align: left;
	margin-bottom: 15px;
}
.inforweb ul li span.ic{
	display: inline-block;
	width: 7px;
	height: 7px;
	margin-right: 5px;
	margin-bottom: 1px;
	background-image: url("../imgs/play-white.png");
	background-size: 7px 7px;
}
.inforweb ul li a{
	color: white;
}
.address{
    padding-top: 35px;
    padding-left: 150px;
    padding-right: 110px;
    padding-bottom: 90px;
}
.address p{
	text-align: center;
}
.contact p{
	text-align: left;
	color: white;
}
.dd{
	padding-top: 35px;
}
.mobileapp{
	width: 262px;
	height: 124px;
	background-color: #0066ff;
	border-radius: 10px;
    
}
.mobileapp p{
	text-align: center;
	padding-top: 13px;
}
.imgGPlay{
	width: 157px;
	height: 47px;
	background-image: url("../imgs/icon-google-play.png");
	background-size: 157px 47px;
    margin-left: 40px;
    margin-top: 20px;

}
.coppyright p{
	color: white;
	padding-top: 10px;
}


/*tim kiem nang cao*/
